$app-bg: #111b21;
$incoming-bg: #202c33; /* incoming msg, header, search input, footer */
$chosen-chat: #2a3942; /* chosen chat, send message input,  */
$dark-green: #005c4b; /* outgoing msg */
$light-green: #00a884; /* unread msg, login */
$blue: #53bdeb;
$red: #ca1515;

$primary-text: #d1d7db;
$secondary-text: #8696a0; /* sidebar read msg, date, icons */
$message-text: #e9edef;
$dark-text: #3b4a54;
$header-icon-color: #aebac1;

$underline-color: #8696a026;
$scrollbar-thumb: #d1d7db29;
$shadow-color: #0b141a66;