@import '../../../variables.scss';

.chat {
  height: 72px;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: $incoming-bg;
  }

  .chatChosen {
    background-color: $chosen-chat !important;
  }

  /* left */
  .chat__left {
    flex: 0;
    padding: 0 13px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .chat__image {
      width: 49px;
      height: 49px;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 50%;
    }

    button {
      width: 49px !important;
      height: 49px !important;
    }
  }

  /* right */
  .chat__right {
    flex: 1;
    max-width: calc(100% - 77px);
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid $underline-color;
    
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .chat__main {
      display: flex;
      align-items: center;

      .chat__title {
        flex: 1;
        width: 100%;
        display: flex;
        font-size: 17px;
        color: $primary-text;
        overflow: hidden;
        overflow-wrap: break-word;
      }
  
      .chat__time {
        margin-top: 3px;
        margin-left: 6px;
        font-size: 12px;
        line-height: 14px;
        color: $secondary-text;
      }
    }

    .chat__lastMessage {
      margin-top: 2px;
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 20px;
      color: $secondary-text;
    }
  }
}