.sidebar {
  flex: 0;
}

.search {
  height: 49px;
  padding-left: 12px;
  display: flex;
  align-items: center;
}

.search__main {
  flex: 1;
  padding: 0 32px 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 26px;
  height: 26px;
  margin: 0 8px;
}
.filter svg {
  width: 20px;
  height: 20px;
}