@import '../../../variables.scss';

.footer {
  min-height: 62px;
  padding: 5px 16px;
  display: flex;
  align-items: flex-end;
  background-color: $incoming-bg;

  .footer__left {
    padding: 6px 0;
    display: flex;
    gap: 2px;
  }
  
  .footer__input {
    position: relative;
    min-height: 42px;
    max-height: 293px;
    flex: 1;
    margin: 5px 8px;
    border-radius: 8px;
    background-color: $chosen-chat;
    overflow-y: auto;

    &>span {
      position: absolute;
      padding: 10px 13px;
      color: $secondary-text;
      user-select: none;
    }

    &>div {
      position: relative;
      height: 100%;
      width: 100%;
      padding: 10px 13px;
      outline: none;
    }
  }
  
  .footer__right {
    width: 40px;
    height: 52px;
    cursor: pointer;
  }
}