.login {
  width: 1000px;
  margin: 0 36px;
  display: flex;
  flex-direction: column;
  background-color: var(--incoming-bg);
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(11,20,26,.19), 0 12px 15px 0 rgba(11,20,26,.24);
}

.login__input {
  margin-bottom: 10px;
  padding: 24px 30px 10px;
  display: flex;
  flex-direction: column;
}

.login__input span {
  margin-bottom: 14px;
  color: var(--light-green);
}

.login__input input {
  padding: 8px 0 5px;
  font-size: 1.0625rem;
  border-bottom: 2px solid var(--dark-text);
}
.login__input input:focus-within {
  border-bottom: 2px solid var(--light-green);
}

.login_footer {
  margin: 20px 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.login__button {
  padding: 10px 50px;
  background-color: var(--light-green);
  font-size: 1.125rem;
  color: #fff;
  transition: .25s ease;
}
.login__button:hover {
  background-color: var(--dark-green);
  color: var(--primary-text);
}

@media (max-width: 1095px) {
  .login {
    width: 100%;
  }
}