* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-bg: #111b21;
  --incoming-bg: #202c33; /* incoming msg, header, search input, footer */
  --chosen-chat: #2a3942; /* chosen chat, send message input,  */
  --dark-green: #005c4b; /* outgoing msg */
  --light-green: #00a884; /* unread msg, login */
  --blue: #53bdeb; 

  --primary-text: rgb(209, 215, 219);
  --secondary-text: #8696a0; /* sidebar read msg, date, icons */
  --message-text: #e9edef;
  --dark-text: #3b4a54;
  --header-icon-color: #aebac1;

  --chat-underline: #8696a026;
  --scrollbar-thumb: #d1d7db29;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
::-webkit-scrollbar-track {
  background-color: initial;
}

input, button {
  color: var(--primary-text);
  background-color: transparent;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--app-bg);
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  color: var(--primary-text);
}

.app {
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* reusable */

.header {
  height: 59px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--incoming-bg);
}
.header svg {
  fill: var(--header-icon-color) !important;
}

.svg-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-parent svg {
  width: 24px;
  height: 24px;
  fill: var(--secondary-text);
}

.user-icon {
  width: 40px;
  height: 40px;
  padding: 6px;
  background-color: var(--chosen-chat);
  border-radius: 50%;
}
.user-icon svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 1441px) {
  .chat {
    max-width: 1600px;
    width: calc(100% - 38px);
    height: calc(100% - 38px);
  }
}